.navbar {
    background-color:#41cc2f ;
    margin-bottom: 0px;
    border: none;
}
.navbar-brand img{
    width: 12%;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.image-container {
    background-image: url(../home/home-assets/bus3.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    margin-bottom: 50px;
    margin-top: 0px;
    width: 100%;
    height: auto;
    padding: 20%;
    border: none;
    
}
.image-container h1{
    font-size: clamp(7rem, 5vw + 1rem, 5rem);
    color: white;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    
}

.image-container h4{
    
    font-size: clamp(2rem, 5vw + 1rem, 5rem);
    color: white;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    
}


.middle-image img {
    margin: 20px;
    width: 35%;
    margin-bottom: 100px;
    
}
.middle-image{
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
}

.footer {
    /* background-color: green; */
    /* align-items: center; */
    /* justify-items: center; */
    /* justify-content: center; */
    /* display: flex; */
    @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

    
    background-color: linear-gradient(0deg, rgb(18, 163, 25), 50%, #47e74f);
    font-family: 'Rubik', sans-serif;
    background: #41cc2f;
    height: 100 !important;
    width: 80%;
   
   
    
    overflow: hidden;
    margin-top: 60px;
    background: #21af14;
    color: #d9ecd9 !important;
    margin-bottom: 20px;
    
    padding-bottom: 0
    
}  
.rights{
    margin-left: 50px;
}
.footer-container{
    background-color:#21af14;
    align-items: center;
    justify-items: center;
    justify-content: center; 
    display: flex; 
    margin-bottom: 10px;

}
.footer img {
    width: 10%;
    justify-content: center;
    margin-left: 55px;
}
/* .social {
    font-size: 21px !important;
    color: rgb(81, 48, 183);
    
}
.fa:hover {
    opacity: 0.7;
  } */
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    /* border-radius: 50%; */
  }
  
  