.signup{
  margin: 0 auto;
  padding: 5%;
  background-color: #B37079;
  /* border: 2px solid black; */
  box-shadow: 15px 7px 10px gray;
  
  width: 30%;
  margin-top: 5%;
  
}
.inputs{
  margin-bottom: 2%;
  font-size: 2em;
}
.inputs input{
  height: 4vh;
  width: 100%;
  margin: 0 auto;
  font-size: 22px;
}
/* label{
  color: white;
} */
.book{
  font-size: 2em;
}
.btn{
  /* background-color: rgba(75,188,67,255); */
  text-align: center;
  /* color: #ff5624; */
  /* height: 4vh; */
  align-content: center;
  justify-content: center;
  align-items: center;
}
button{
  font-size: 1em;
  /* background-color: #70232a; */
  color: rgb(47, 82, 207);
  border: none;
  margin-top: 1%;
}
form > h3{
  text-align: center;
  font-size: 1.5em;
}
.cust{
  font-size: 1.5em;
}