.signup {
  margin: 0 auto;
  padding: 5%;
  background-color: #F7CAC9; /* Soft pink background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin-top: 5%;
}

.inputs {
  margin-bottom: 2%;
  font-size: 2em;
}

.inputs input {
  height: 4vh;
  width: 100%;
  margin: 0 auto;
  font-size: 22px;
}

.book {
  font-size: 2em;
}

.btn {
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1em;
  background-color: #C7CEEA; /* Light blue background */
  color: #3F72AF; /* Dark blue text color */
  border: none;
  margin-top: 1%;
}

form > h3 {
  text-align: center;
  font-size: 1.5em;
}

.cust {
  font-size: 1.5em;
}
